<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAg3syVvT1ijG_xFXIs4Ato0Ghsuh3MNd4</string>
	<key>GCM_SENDER_ID</key>
	<string>995038545288</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nurturenest</string>
	<key>PROJECT_ID</key>
	<string>nurture-nest-29fb4</string>
	<key>STORAGE_BUCKET</key>
	<string>nurture-nest-29fb4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995038545288:ios:07405f16152c96de2f663d</string>
</dict>
</plist>